# Gateway
ADK_AGENT_URL=http://adk-agent:8001
LANGGRAPH_AGENT_URL=http://langgraph-agent:8080
GATEWAY_PORT=8090
ALLOW_ORIGINS=http://localhost:8090

# LangGraph Agent
OPENAI_API_KEY=
NVIDIA_API_KEY=
MODEL_PROVIDER=openai
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_NAME=Sheet1
GOOGLE_CREDENTIALS_FILE=credentials.json

# ADK Agent
GOOGLE_APPLICATION_CREDENTIALS=credentials.json
